@media (max-width: 2314px) {
    .movie-card--favorite {
        display: flex;
        justify-content: center;
    }
  .menu {
    display: none;
  }
  .logoImgsMain {
    display: none;
  }
  .btn-log{
    width: auto;
  }
}
@media (max-width: 1440px) {
  main {
    padding: 0 128px;
  }
  form .formBtn-Wrap button{
    padding: 16px 34px;
    column-gap: 40px;
  }
}
@media (max-width: 1280px) {
  main {
    width: 928px;
    padding: 0px;
  }
  .menu {
    display: block;
  }
  .userinfo {
    display: none;
  }
  header {
    display: none;
  }
  .logoImgsMain {
    display: block;
    min-width: 162px;
    height: 42px;
  }
  .card-container .movie-card {
    max-width: 208px;
  }
  .card-container {
    gap: 32px;
  }
  .img-poster {
    height: 279px;
  }
  .SearchMovies .list .list-search .img-poster img,
  .SearchMovies .list .list-search .img-poster {
    max-width: 208px;
  }
  .SearchMovies .list .list-search {
    max-width: 208px;
  }

  .SearchMovies .list {
    column-gap: 32px;
  }
  .list-search {
    width: 208px;
  }
  .card-wrap {
    gap: 32px;
  }
  .card-wrap .movie-card .img-poster img {
    max-width: 208px;
  }
  .img-poster {
    max-width: 208px;
  }
  .card-wrap .movie-card {
    max-width: 208px;
  }
}
@media (max-width: 1024px) {
  main {
    padding: 0 20px;
  }

}
@media (max-width: 768px) {
  main {
    padding: 0 40px;
  }
  .light .inputWrap {
    display: flex;
    flex-wrap: wrap;
  }
  .dark .inputWrap {
    display: flex;
    flex-wrap: wrap;
  }
  form .formBtn-Wrap{
    column-gap: 40px;
    justify-content: end;

  }

}
@media (max-width: 320px) {
  main {
    padding: 0 24px;
  }
  .SearchMovies--search-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
  }
  .SearchMovies--search-container .search-wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row;
    order: 1;
  }
  .card-container .movie-card{ 
    min-width: 272px;
  }
  .img-poster{
    min-width: 272px;
    min-height: 365px;
  }
  .card-wrap .movie-card .img-poster img{
    min-width: 272px;
    height: 396px;
  }
  .card-container .movie-card .img-poster,
  .card-container .movie-card .img-poster img{
    height: 396px;
  }
  .card-wrap .movie-card {
    min-width: 272px;
  }
  .menu__content {

    height: 74vh;
    width: 212px;
  }
  .modal-content{
    width: 320px;
  }
  .modal-content .input-filters{
    margin-right: 0;
    width: fit-content;
  }
  .wrap-selected .btn-selected{
    width: -webkit-fill-available;
  }
  .SearchMovies--search-container .search-wrap {
      display: flex;
      order: 1;
    }
    .SearchMovies--search-container {
      flex-wrap: wrap;
  }
  .movie-container{
    flex-wrap: wrap;
    gap: 24px;
  }

  .inputWrap {
    width: auto;
    max-width: 200px;
  }
  form .formBtn-Wrap, .light .btn-log{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

  }
  form .formBtn-Wrap button{
    padding: 16px 0px;
    display: flex;
    justify-content: center;
  }
  form .inputWrap{
    flex-wrap: wrap;
  }

  .img-poster{
    min-width: 272px;
    height: 396px;
  }
  .SearchMovies .list .list-search .img-poster img,
   .SearchMovies .list .list-search .img-poster{
    min-width: 272px;
    height: 396px;
   }
}

