@import "/src/App.scss";
.input-wrapperSignIn {
  position: relative;
  width: 100%;
  .input-SignIn {
    gap: 20px;
    .labelSignIn {
      display: flex;
      row-gap: 24px;
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      // color: $contextual-colors-white;
    }

    .inputSignIn {
      width: 96%;
      height: 56px;
      margin-bottom: 24px;
      padding: 0px 0px 0px 20px;
      border-radius: 10px;
      border: none;
      font-size: 16px;
      font-weight: 400;
      background-color: $background-colors-graphite;
      color: $contextual-colors-white;

      &::placeholder {
        // padding: 0 20px;
        color: $system-colors-secondary;
      }
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }

      &:focus {
        outline: -2px;
        outline: 2px solid $system-colors-primary;
      }

      &:disabled {
        background-color: $system-colors-secondary;
        cursor: not-allowed;
        &::placeholder {
          color: $contextual-colors-light;
        }
      }

      &.error {
        border-color: $contextual-colors-error;
        &::placeholder {
          color: $contextual-colors-light;
        }
      }
    }
    
  }

  .errorMesage {
    position: absolute;
    bottom: -32px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $contextual-colors-error;
  }
}
