// System Colors
$system-colors-primary:   #7B61FF;
$system-colors-primary-2: #917CFF;
$system-colors-secondary: #80858B;

// Background Colors
$background-colors-black:    #000;
$background-colors-dark:     #242426;
$background-colors-graphite: #323537;

// Contextual Colors
$contextual-colors-error: #FF5154;
$contextual-colors-light: #AFB2B6;
$contextual-colors-white: #FFF;

// Tertiary Colors
$tertiary-colors-green:  #00A340;
$tertiary-colors-yellow: #F3A608;
$tertiary-colors-orange: #F45D2D;