@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,600;1,400&display=swap");
@import "/src/App.scss";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}
body,
.light  {
  background-color: $contextual-colors-white;
  height: 100vh;
  // background-color: wheat;
  overflow-x: hidden;
}
body,
.dark {
  background-color: $background-colors-black;
  overflow-x: hidden;
  height: 100vh;
}

body,
button {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
button {
  border: none;
  padding: 13px 13px;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
input {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  &:focus {
    outline: 2px solid $system-colors-primary;
    outline-style: -2px;
    // outline: none;
    // box-shadow: 0 0 0 2px $system-colors-primary;
  }
}

input::placeholder {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
