@import "/src/App.scss";
.container{
  width: 100%;
  max-width: 2543px;
  // height: 100%;
  // min-height: 1205px;
  // height: 100vh;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  
}